* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
#parent {
  width: 100vw; /*vw=viewport width**/
  height: 100vh; /*vh=viewport height**/
  background-color: rgb(235, 182, 241);
  display: flex;
  justify-content: center;
  align-items: center;
}
#card {
  width: 600px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px black;
  background-color: aliceblue;
  display: flex;
  overflow: hidden;
}

#card-image {
  flex: 2;
}
#card-image > img {
  width: 200px;
  height: 300px;
}
#card-body {
  flex: 3;
  padding: 20px;
  position: relative;
}
#card-body > a {
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-decoration: none;
  color: #318aff;
}
#card-body > a:hover {
  color: red;
}
#card-body > a:visited {
  color: brown;
}

#author,
#date {
  color: rgb(81, 79, 79);
}
#intro {
  margin-top: 20px;
}
